* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(246, 246, 246);
    height: 1290px;
}
li {
    list-style: none;
}
input:focus {
    outline: none;
}
a {
    text-decoration: none;
}

.mian-top {
    height: 80px;
    background: black url(./images/top.jpg) no-repeat center;
}
.nav {
    height: 30px;
    background-color: rgb(227, 228, 229);
}
.nav-content {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    position: relative;
}
.nav-content-left {
    font-size: 12px;
    color: rgb(157, 157, 157);
    line-height: 30px;
    float: left;
    margin-left: 210px;
}
.nav-content-right {
    float: right;
}
.nav-content-right li {
    float: left;
    margin-left: 20px;
    line-height: 30px;
}
.nav-content-right a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(157, 157, 157);
}
.nav-content-right a:hover {
    color: rgb(241, 35, 22);
}
.nav-content-right .register {
    color: rgb(241, 35, 22);
}
.product-list {
    width: 190px;
    height: 650px;
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: rgb(110, 104, 101);
}
.product-list .logo {
    width: 190px;
    height: 170px;
    background: url(./images/logo.jpg) no-repeat center;
}
.product-list ul {
    margin-top: 15px;
}
.product-list li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.product-list li a {
    font-size: 13px;
    color: rgb(246, 246, 246);
    padding-left: 10px;
    line-height: 28px;
}


.search-content {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    padding-top: 20px;
    clear:left;
    position: relative;
}
.search-input {
    width: 530px;
    height: 34px;
    border: 1px solid rgb(241, 35, 22);
    font-size: 16px;
    color: rgb(157, 157, 157);
    padding-left: 4px;
}
.search-button {
    width: 50px;
    height: 36px;
    background: rgb(241, 35, 22) no-repeat center;
    border-width: 0;
    margin-top: 4px;
}
.search-content em {
    width: 20px;
    height: 15px;
    background: url(./images/sprite-search.png) no-repeat center;
    position: absolute;
    top: 34px;
    right: 380px;
    background-position: 0 0;
}
.search-content em:hover {
    background-position: -30px 0;
}
.shopping-car {
    width: 150px;
    height: 34px;
    border: 1px solid rgb(204, 204, 204);
    margin-left: 30px;
    position: relative;
}
.shopping-car a {
    color: rgb(241, 35, 22);
    text-decoration: none;
    font-size: 12px;
    line-height: 34px;
    margin-left: 40px;
}
.shopping-car s {
    position: absolute;
	top: 5px;
	text-decoration: none;
	background-color: #f10215;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	padding: 0 3px;
	border-radius: 7px;
	color: #fff;
}
.search-list {
    width: 600px;
    margin-left: 300px;
}
.search-list li {
    float: left;
    margin-right: 6px;
    line-height: 30px;
}
.search-list a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(157, 157, 157);
}
.search-list a:hover {
    color: rgb(241, 35, 22);
}
.search-list .student {
    color: rgb(241, 35, 22);
}
.shop-list {
    clear: both;
    width: 800px;
    margin-left: 210px
}
.shop-list li {
    float: left;
    margin-left: 30px;
    line-height: 50px;
}
.shop-list a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(90, 90, 90);
}
.shop-list a:hover {
    color: rgb(241, 35, 22);
}
.search-content .qrcode {
    width: 65px;
    height: 65px;
    background: url(./images/erweima.png) no-repeat center;
    border: 1px solid rgb(204, 204, 204);
    position: absolute;
    right: 30px;
    top: 5px;
}
.search-content .tips {
    width: 190px;
    height: 40px;
    background: url(./images/computer.jpg) no-repeat center;
    position: absolute;
    right: 30px;
    top: 90px;
}

.center-content {
    width: 100%;
    height: 480px;
    background: url(./images/bg.png) repeat-x center;
}
.product-content {
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    position: relative;
}
.product-center {
    width: 790px;
    height: 340px;
    background: url(./images/banner.jpg) no-repeat center;
    margin: 0 auto;
}
.product-center .item-content {
    width: 177px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    position: relative;
    top: 300px;
    border-radius: 9px;
}
.item-content li {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
}
.item-content .li-first {
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgb(241, 35, 22);
}
.item-content .li-last {
    margin-right: 0px;
}
.product-left {
    width: 390px;
    height: 130px;
    background: url(./images/pic1.jpg) no-repeat center;
    background-size: 390px 130px;
    float: left;
    margin-left: 205px;
    margin-top: 10px;
}
.product-right {
    width: 390px;
    height: 130px;
    background: url(./images/pic2.jpg) no-repeat center;
    background-size: 390px 130px;
    float: right;
    margin-right: 205px;
    margin-top: 10px;
}
.right-info {
    width: 190px;
    height: 480px;
    position: absolute;
    top: 0px;
    right: 5px;
}
.info-top {
    width: 190px;
    height: 120px;
    background-color: rgb(255, 192, 203);
}
.info-top .icon {
    position: absolute;
    left: 15px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;;
}
.info-top h6 {
    color: rgb(116, 116, 116);
    position: absolute;
    font-weight: 400;
    top: 23px;
    left: 70px;
    width: 110px;
}
.info-top a {
    background-color: transparent;
    border: none;
    color: rgb(116, 116, 116);
    position: relative;
    top: 67px;
    left: 70px;
    font-size: 14px;
}
.info-top a:hover {
    color: rgb(241, 35, 22);
}
.info-tips {
    width: 160px;
    height: 30px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.info-tips a {
    color: rgb(110, 104, 101);
    font-size: 14px;
    line-height: 30px;
}
.right-info ul {
    margin-top: 10px;
    margin-left: 15px;
}
.right-info ul a {
    color: rgb(110, 104, 101);
    font-size: 14px;
    line-height: 22px;
}
.right-info table {
    width: 190px;
    border-top: 1px solid rgb(204, 204, 204);
    text-align: center;
    margin-top: 3px;
}
.right-info table td {
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 66px;
}
.right-info table td div {
    width: 24px;
    height: 24px;
    background: url(./images/sprite_fs@1x.png) no-repeat center;
    background-position: 0 -44px;
    margin: 0 auto;
}
.right-info table a {
    color: rgb(110, 104, 101);
    font-size: 14px; 
}
.float-tips1 {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 14px;
    color: rgb(241, 35, 22); 
    border: 2px solid rgb(241, 35, 22);
    padding: 0px 4px;
}
.float-tips2 {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 14px;
    color: rgb(241, 35, 22); 
    border: 2px solid rgb(241, 35, 22);
    padding: 0px 4px;
}
.float-tips1:hover, .float-tips2:hover {
    color: white;
    background-color: rgb(241, 35, 22);
}

.bottom-content {
    width: 100%;
    height: 560px;
    background-color: rgb(234, 234, 234);
}
.advert-content {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.advert-content ul {
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.advert-content li {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px;
}
.advert-content .unit {
    width: 36px;
	height: 42px;
    background: url(./images/ico_service.png) no-repeat;
    margin-right: 10px;
}
.advert-content .section-font {
    background-position: 0 -44px;
}
.advert-content .thrid-font {
    background-position: 0 -86px;
}
.advert-content .forth-font {
    background-position: 0 -128px;
}

.guide-content {
    width: 1180px;
    height: 200px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(222, 222, 222);
    overflow: hidden;
    position: relative;
}
.guide-content th {
    font-size: 12px;
    color: rgb(110, 104, 101);
    padding: 15px 150px 20px 0;
}
.guide-content ul a {
    font-size: 12px;
    color: rgb(114, 114, 114);
}
.guide-content ul a:hover {
    color:rgb(241, 35, 22);
}
.guide-content .map {
    width: 207px;
    height: 150px;
    position: absolute;
    top: 20px;
    right: -8px;
	background: url(./images/ico_footer.png) no-repeat;
}
.guide-content .map-title {
    padding: 15px 0px 20px 0;
}
.guide-content .map-detail {
    width: 176px;
    font-size: 12px;
    position: absolute;
    top: 60px;
    right: 0px;
    color: rgb(114, 114, 114); 
}
.guide-content .view-detail {
    font-size: 12px;
    position: absolute;
    top: 130px;
    right: 10px;
    color: rgb(114, 114, 114);  
}
.guide-content .view-detail:hover {
    color:rgb(241, 35, 22);
}
.about-content {
    width: 1050px;
    margin: 15px auto 0;
}
.about-content li {
    font-size: 12px;
    float: left;
    color: rgb(204, 204, 204);
}
.about-content li a {
    font-size: 12px;
    color: rgb(114, 114, 114);
}
.back-info {
    clear: both;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(171, 171, 171);
}
.footer-icon-content {
    width: 645px;
    margin: 10px auto;
}
.footer-icon {
    width: 103px;
	height: 32px;
	display: inline-block;
	background: url(./images/ico_footer.png) no-repeat 0 -151px;
}
.icon2 {
    background-position: -103px -151px;
}
.icon3 {
    background-position: -0 -183px;
}
.icon4 {
    background-position: -103px -183px;
}
.icon5 {
    background-position: -0 -215px;
}
.icon6 {
    background-position: -103px -215px;
}

